h1 {
    font-family:Helvetica;
}
.impresoras{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.impresora h1{
    font-family:helvetica;
    font-size: 18px;
}

.imgImpresoras {
    width: 30%;
}

.placamadre {
    width: 50%;
}

.menu {
    width: 70%;
    display: inline;
}



.logo {
    width: 20%;
}

.teclados img {
    width: 30%;
}

.descripcionProductos img {
    width: 30%;
}

.descripcionProductos article{
    padding: 0 10% 0 10%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.descripcionProductos h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:beige;
    padding: 10px 0 10px 0;
}