.impresoras{
    font-family:Verdana;
}

.impresora h1{
    font-family:helvetica;
    font-size: 18px;
}

.imgImpresoras {
    width: 30%;
}

.placamadre {
    width: 50%;
}

.menu {
    width: 70%;
    display: inline;
}



.logo {
    width: 20%;
}